{% extends 'layout/default.html' %}

<!-- не забываем заранее загружать наши фильтры! -->
{#{% load custom_filters %}#}

<!-- Название у нас будет "Новость или статья - Заголовок..." -->
{% block title %}
    {{ post.get_categoryType_display }}: {{ post.title|truncatechars:10  }}
{% endblock title %}

<!-- В контенте на странице мы выводим саму Новость или статью,
 первичный ключ которого был передан в адрес -->
{% block content %}
    <h1 align="center">{{ post.title }}</h1>

    <div class="card-header">
        Категория:
        <a href="" class="btn btn-outline-primary btn-sm"> {{ post.get_category_display }}</a>
        &nbsp;&nbsp; Автор:
        <a href="" class="btn btn-outline-primary btn-sm"> {{ post.author }}</a>
        &nbsp;&nbsp;&nbsp; Создан: {{ post.dateCreation }} &nbsp; Изменен: {{ post.dateUpdate }}
    </div>

    {#    <hr>#}
    <p>{{ post.content|safe }}</p>

    {#    ===========================#}
    {% if user == post.author %}
        <a href="{% url 'board:post_update' post.id %}" class="btn btn-primary">Редактировать</a>
        <a href="{% url 'board:post_delete' post.id %}" class="btn btn-primary">Удалить</a>
    {% elif user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <div class="card card-footer align-content-center">
{#                {{ form.as_p }}#}
                {{ form.as_table }}
                <input type="submit" value="Отправить отклик" class="btn btn-primary">
            </div>
        </form>
    {% endif %}

    <hr>
    <a href="{% url 'board:posts' %}" class="btn btn-primary">Вернуться на главную страницу</a>

    {#    ===========================#}

{% endblock content %}
